#overallDiv {

}
#titleSec {
	background-color:green;
	margin:20px;
	border: 1px solid #000000;
}
#scoreSec {
	background-color:blue;
	margin:20px;
}
#questionSec {
	background-color:purple;
	margin:20px;
}
#controlSec {
	border:1px solid #000000;
}
#startBtn {
	background-color: #00FF80;
}
#nextBtn {
	background-color: #C2C200;
}
#quitBtn {
	background-color: #C00000;
}
#btnContainer {
	width:100%;
	margin-top:5px;
	margin-bottom: 30px;
}
#btnContainer div {
	width: 33.3%;
	float: left;
}
#btnContainer div button {
	width:30%;
	
}

footer {
	margin-top:30px;
	background-color:pink;
}