#overallDiv {

}
#titleSec {
	background-color:green;
	margin:20px;
	border: 1px solid #000000;
}
#scoreSec {
	background-color:blue;
	margin:20px;
}
#questionSec {
	background-color:purple;
	margin:20px;
}
#controlSec {
	border:1px solid #000000;
	margin:20px;
}
#startBtn {
	float: left;
}
#nextBtn {
}
#quitBtn {
	float: right;
}
footer {
	background-color:pink;
}